<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="LogFileName" value="C:\Validite Projects\Source\C#\PayrollTimeAttendSystem\RunTimeAttenanceWinService\bin\Debug\RunTimeAttendanceWinService.txt"/>

    <add key="EmailFolder" value="C:\Validite Projects\Source\C#\PayrollTimeAttendSystem\RunTimeAttenanceWinService\bin\Debug\Email"/>
    <add key="SmtpSysAdminEmailAddressFirstName" value="Errol"/>
    <add key="SmtpSysAdminEmailAddressLastName" value="Le Roux"/>
    <add key="SmtpSysAdminEmailAddress" value="lerouxerrol@gmail.com"/>
 
    <add key="SmtpHostName" value="smtp.gmail.com"/>
    <add key="SmtpHostPort" value="587"/>
    <add key="SmtpEmailAddressDescription" value="Validite"/>
    <add key="SmtpEmailAddress" value="lerouxerrol@gmail.com"/>
    <add key="SmtpEmailAddressPassword" value="tcaretni_1"/>
    
  </appSettings>
  
</configuration>