@{
    ViewData["Title"] = "About Time Attendance Biometrics Fingerprint Wages Salaries Payroll Validite";
    ViewData["PageTitle"] = "About";
}

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default ">
            <div class="panel-heading">About</div>
            <div class="panel-body">
                
                <h3>Noble Beginnings</h3>

                <p>Validite is a software company that started the development of a Payroll / Time Attendance system in 2006. Our mission was to develop an integrated system that was not reliant on any 3rd party.</p>

                <h3>Not so Easy</h3>

                <p>
                    After having developed the Payroll and Time Attendance systems, we decided to build our own <strong>Biometric Clocks</strong>.
                    The reason behind this thinking was that User's would have real-time access to Employee Clockings which were held on a SQL Server database.
                    We also believed that at a later stage the Internet would be stable enough for Employees to Clock directly into a centralised Web Server.

                </p>
                <p>
                    Initially we took an existing Biometric Clock (A11) and rewrote all the software on the Clock to speak to Validite's Fingerprint Clock Web Service.
                    This we achieved in 2010 and is the basis of our current Time Attendance system.

                </p>

                <h3>Where are we today?</h3>

                <p>After almost 3 years of development on our <strong>Biometric Clock</strong>, the end is near. We have a working prototype and are in Beta Testing.</p>

                <h3>Where to in the future?</h3>

                <p>Our mission is to finally get the Biometric Clock Boxed. This is an expensive process and we are looking to get partners involved. We would like to open-source the Biometric Clock so that we can eventually have a Clock that has the ability to Clock directly into the Internet. If you are interested in partnering with us, you can <strong>@Html.ActionLink("contact", "Contact", "Home")</strong> us and let's get the ball rolling.</p>

            </div>

        </div>

    </div>

</div>
