@{
    ViewData["Title"] = "Gallery Time Attendance Biometrics Fingerprint Wages Salaries Payroll Validite";
    ViewData["PageTitle"] = "Gallery";
}


<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default ">
            <div class="panel-heading">Gallery</div>
            <div class="panel-body">

                <h3><strong>Gallery</strong></h3>

                <br />

                <h4>Click on any Image to Enlarge</h4>

                <br />

                <h4><strong>Payroll Run</strong></h4>

                <div class="row">

                    <div class="col-md-4">

                        <a href="~/Home/Image?imagename=PayrollTotals.png" class="thumbnail">
                            <img src="~/Image/PayrollTotals.png" alt="Generic placeholder thumbnail">
                            <span>Payroll Totals</span>
                        </a>

                    </div>

                    <div class="col-md-4">

                        <a href="~/Home/Image?imagename=TimeSheetTotals.png" class="thumbnail">

                            <img src="~/Image/TimeSheetTotals.png" alt="Generic placeholder thumbnail">
                            <span>Time Sheet Totals</span>
                        </a>

                    </div>

                    <div class="col-md-4">

                        <a href="~/Home/Image?imagename=RunTimeAndAttendance.png" class="thumbnail">
                            <img src="~/Image/RunTimeAndAttendance.png" alt="Generic placeholder thumbnail">
                            <span>Run Time and Attendance</span>
                        </a>

                    </div>
                </div>

                <h4><strong>Process</strong></h4>

                <div class="row">

                    <div class="col-md-4">
                        @*<a href="~/ShowImage/TimeSheet" class="thumbnail">*@
                        <a href="~/Home/Image?imagename=TimeSheet.png" class="thumbnail">
                            <img src="~/Image/TimeSheet.png" alt="Generic placeholder thumbnail">
                            <span>Time Sheet</span>

                        </a>

                    </div>

                    <div class="col-md-4">
                        @*<a href="~/ShowImage/TimeSheetBatch" class="thumbnail">*@
                        <a href="~/Home/Image?imagename=TimeSheetBatch.png" class="thumbnail">
                            <img src="~/Image/TimeSheetBatch.png" alt="Generic placeholder thumbnail">
                            <span>Time Sheet Batch</span>

                        </a>

                    </div>

                    <div class="col-md-4">
                        @*<a href="~/ShowImage/Leave" class="thumbnail">*@
                        <a href="~/Home/Image?imagename=Leave.png" class="thumbnail">
                            <img src="~/Image/Leave.png" alt="Generic placeholder thumbnail">
                            <span>Leave</span>

                        </a>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        @*<a href="~/ShowImage/CostCentre" class="thumbnail">*@
                        <a href="~/Home/Image?imagename=CostCentre.png" class="thumbnail">
                            <img src="~/Image/CostCentre.png" alt="Generic placeholder thumbnail">
                            <span>Cost Centre (Branch)</span>

                        </a>

                    </div>

                    <div class="col-md-4">
                        @*<a href="~/ShowImage/Employee" class="thumbnail">*@
                        <a href="~/Home/Image?imagename=Employee.png" class="thumbnail">
                            <img src="~/Image/Employee.png" alt="Generic placeholder thumbnail">
                            <span>Employee</span>

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {

    <script type="text/javascript">
    </script>
}
