<?xml version="1.0" encoding="UTF-8"?>
  <Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
       xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
       xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

    <Product Id="{60E618D2-DDF4-46F4-9395-FCC091B9CBDB}" UpgradeCode="{A322465B-F98B-4969-B95D-CFE8DED0BA39}" Version="1.0.0.0" Language="1033" Name="Validite Payroll Internet" Manufacturer="Validite">
    <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />

      <!--<Icon Id="PayrollIcon" SourceFile="C:\Interact Projects\C++\Payroll\Release\Payroll.exe" />-->

      <!-- Check that 4.5 is Installed -->
      <PropertyRef Id="NETFRAMEWORK45"/>
      <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
        <![CDATA[Installed OR (NETFRAMEWORK45)]]>
      </Condition>

      <!-- Add UI to your installer -->
      <UI Id="WixUI_Minimal">
        <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
        <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
        <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

        <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
        <Property Id="WixUI_Mode" Value="Minimal" />

        <DialogRef Id="ErrorDlg" />
        <DialogRef Id="FatalError" />
        <DialogRef Id="FilesInUse" />
        <DialogRef Id="MsiRMFilesInUse" />
        <DialogRef Id="PrepareDlg" />
        <DialogRef Id="ProgressDlg" />
        <DialogRef Id="ResumeDlg" />
        <DialogRef Id="UserExit" />

        <!-- This is the welcome dialog you specified-->
        <DialogRef Id="WelcomeDlg" />

        <!-- Hook the new welcome dialog to the next one in the stack-->
        <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>

        <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

        <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

        <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

        <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

        <Property Id="ARPNOMODIFY" Value="1" />
      </UI>

      <UIRef Id="WixUI_Common" />
            
    <!-- Step 1: Define the directory structure NB Name Holds The New Directory Name -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="DesktopFolder"  SourceName="Desktop"/>
       <Directory Id="ProgramMenuFolder"  SourceName="ApplicationProgramsFolder"/>
      
      <Directory Id="ProgramFilesFolder" >
        <Directory Id='InteractSoftware' Name='Validite'>
          <Directory Id="APPLICATIONROOTDIRECTORY" Name="Validite Payroll Internet">

            <Component Id="InstalledDirectory" Guid="{364C26EB-397C-49D8-B702-1E214D2603E1}">
              <CreateFolder Directory="APPLICATIONROOTDIRECTORY">
                <Permission User="Everyone" GenericAll="yes" />
              </CreateFolder>
              <RemoveFolder Id='APPLICATIONROOTDIRECTORY' On='uninstall' />
            </Component>

            <Component Id="BackupRestoreDatabase.dll" Guid="">
              <File Id="BackupRestoreDatabase.dll" Source="..\_PayrollLive Files\Client\GoingLive\BackupRestoreDatabase.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="BatchEarning.dll" Guid="">
              <File Id="BatchEarning.dll" Source="..\_PayrollLive Files\Client\GoingLive\BatchEarning.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="Calender.dll" Guid="">
              <File Id="Calender.dll" Source="..\_PayrollLive Files\Client\GoingLive\Calender.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="ChooseFingerprintReader.dll" Guid="" Permanent="no">
              <File Id="ChooseFingerprintReader.dll" Source="..\_PayrollLive Files\Client\GoingLive\ChooseFingerprintReader.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="ClosePayrollRun.dll" Guid="">
              <File Id="ClosePayrollRun.dll" Source="..\_PayrollLive Files\Client\GoingLive\ClosePayrollRun.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
        
            <Component Id="clsISClientUtilities.dll" Guid="">
              <File Id="clsISClientUtilities.dll" Source="..\_TimeAttendanceClientLive Files\Client\GoingLive\clsISClientUtilities.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="clsISUtilities.dll" Guid="">
              <File Id="clsISUtilities.dll" Source="..\_PayrollLive Files\Client\GoingLive\clsISUtilities.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="clsReadersToDp.dll" Guid="" Permanent="no">
              <File Id="clsReadersToDp.dll" Source="..\_PayrollLive Files\Client\GoingLive\clsReadersToDp.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="clsTax.dll" Guid="">
              <File Id="clsTax.dll" Source="..\_PayrollLive Files\Server\GoingLive\clsTax.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="Company.dll" Guid="">
              <File Id="Company.dll" Source="..\_PayrollLive Files\Client\GoingLive\Company.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="CompanyPaymentOptions.dll" Guid="">
              <File Id="CompanyPaymentOptions.dll" Source="..\_PayrollLive Files\Client\GoingLive\CompanyPaymentOptions.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="ConvertEmployeeType.dll" Guid="">
              <File Id="ConvertEmployeeType.dll" Source="..\_PayrollLive Files\Client\GoingLive\ConvertEmployeeType.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="CostCentre.dll" Guid="">
              <File Id="CostCentre.dll" Source="..\_PayrollLive Files\Client\GoingLive\CostCentre.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="DataDownload.dll" Guid="">
              <File Id="DataDownload.dll" Source="..\_PayrollLive Files\Client\GoingLive\DataDownload.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="DataUpload.dll" Guid="">
              <File Id="DataUpload.dll" Source="..\_PayrollLive Files\Client\GoingLive\DataUpload.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="DateLoad.dll" Guid="">
              <File Id="DateLoad.dll" Source="..\_PayrollLive Files\Client\GoingLive\DateLoad.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="Deduction.dll" Guid="">
              <File Id="Deduction.dll" Source="..\_PayrollLive Files\Client\GoingLive\Deduction.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="DownloadFiles.dll" Guid="">
              <File Id="DownloadFiles.dll" Source="..\_PayrollLive Files\Client\GoingLive\DownloadFiles.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="DPCtlUruNet.dll" Guid="" Permanent="no">
              <File Id="DPCtlUruNet.dll" Source="..\_PayrollLive Files\Client\GoingLive\DPCtlUruNet.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="DPUruNet.dll" Guid="" Permanent="no">
              <File Id="DPUruNet.dll" Source="..\_PayrollLive Files\Client\GoingLive\DPUruNet.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="Earning.dll" Guid="">
              <File Id="Earning.dll" Source="..\_PayrollLive Files\Client\GoingLive\Earning.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="EasyFile.dll" Guid="">
              <File Id="EasyFile.dll" Source="..\_PayrollLive Files\Client\GoingLive\EasyFile.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="Employee.dll" Guid="">
              <File Id="Employee.dll" Source="..\_PayrollLive Files\Client\GoingLive\Employee.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="EmployeeActivate.dll" Guid="">
              <File Id="EmployeeActivate.dll" Source="..\_PayrollLive Files\Client\GoingLive\EmployeeActivate.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="EmployeeActivateSelection.dll" Guid="">
              <File Id="EmployeeActivateSelection.dll" Source="..\_PayrollLive Files\Client\GoingLive\EmployeeActivateSelection.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="EmployeeBalanceTakeOn.dll" Guid="">
              <File Id="EmployeeBalanceTakeOn.dll" Source="..\_PayrollLive Files\Client\GoingLive\EmployeeBalanceTakeOn.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="EmployeeLeaveTakeOn.dll" Guid="">
              <File Id="EmployeeLeaveTakeOn.dll" Source="..\_PayrollLive Files\Client\GoingLive\EmployeeLeaveTakeOn.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="EmployeeLeaveTakeOnActivate.dll" Guid="">
              <File Id="EmployeeLeaveTakeOnActivate.dll" Source="..\_PayrollLive Files\Client\GoingLive\EmployeeLeaveTakeOnActivate.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="EtiRun.dll" Guid="">
              <File Id="EtiRun.dll" Source="..\_PayrollLive Files\Client\GoingLive\EtiRun.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="FileDownload.dll" Guid="">
              <File Id="FileDownload.dll" Source="..\_PayrollLive Files\Client\GoingLive\FileDownload.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="FileUpload.dll" Guid="">
              <File Id="FileUpload.dll" Source="..\_PayrollLive Files\Client\GoingLive\FileUpload.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="IBScanUltimate.dll" Guid="" Permanent="no">
              <File Id="IBScanUltimate.dll" Source="..\_OtherLive Files\IBScanUltimate.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            
            <Component Id="LeaveAuthorisation.dll" Guid="">
              <File Id="LeaveAuthorisation.dll" Source="..\_PayrollLive Files\Client\GoingLive\LeaveAuthorisation.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="LeaveProcess.dll" Guid="">
              <File Id="LeaveProcess.dll" Source="..\_PayrollLive Files\Client\GoingLive\LeaveProcess.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="LeaveType.dll" Guid="">
              <File Id="LeaveType.dll" Source="..\_PayrollLive Files\Client\GoingLive\LeaveType.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            
            

            <!-- Microsoft ReportViewer dlls -->
            <Component Id="Microsoft.ReportViewer.Common.dll" Guid="">
              <File Id="Microsoft.ReportViewer.Common.dll" Source="..\_PayrollLive Files\Client\GoingLive\Microsoft.ReportViewer.Common.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            
             <Component Id="Microsoft.ReportViewer.ProcessingObjectModel.DLL" Guid="">
              <File Id="Microsoft.ReportViewer.ProcessingObjectModel.DLL" Source="..\_PayrollLive Files\Client\GoingLive\Microsoft.ReportViewer.ProcessingObjectModel.DLL" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="Microsoft.ReportViewer.WinForms.DLL" Guid="">
              <File Id="Microsoft.ReportViewer.WinForms.DLL" Source="..\_PayrollLive Files\Client\GoingLive\Microsoft.ReportViewer.WinForms.DLL" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="Microsoft.SqlServer.Types.dll" Guid="">
              <File Id="Microsoft.SqlServer.Types.dll" Source="..\_PayrollLive Files\Client\GoingLive\Microsoft.SqlServer.Types.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <!-- Microsoft ReportViewer dlls -->

            <Component Id="NormalSickLeave.dll" Guid="">
              <File Id="NormalSickLeave.dll" Source="..\_PayrollLive Files\Client\GoingLive\NormalSickLeave.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="OccupationDepartment.dll" Guid="">
              <File Id="OccupationDepartment.dll" Source="..\_PayrollLive Files\Client\GoingLive\OccupationDepartment.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="OccupationDepartmentLink.dll" Guid="">
              <File Id="OccupationDepartmentLink.dll" Source="..\_PayrollLive Files\Client\GoingLive\OccupationDepartmentLink.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="OpenPayrollRun.dll" Guid="">
              <File Id="OpenPayrollRun.dll" Source="..\_PayrollLive Files\Client\GoingLive\OpenPayrollRun.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="PasswordChange.dll" Guid="">
              <File Id="PasswordChange.dll" Source="..\_PayrollLive Files\Client\GoingLive\PasswordChange.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="PasswordReset.dll" Guid="">
              <File Id="PasswordReset.dll" Source="..\_PayrollLive Files\Client\GoingLive\PasswordReset.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="Payroll.exe" Guid="{731E92A8-E3C2-4462-BD1F-145FFF5B2CBD}">
              <File Id="Payroll.exe" Source="..\_OtherLive Files\Payroll.exe" KeyPath="yes" Checksum="yes" >

                <Shortcut Id="DesktopShortcut"
                            Directory="DesktopFolder"
                            Name="Validite Payroll"
                            Description="Validite Payroll"
                            WorkingDirectory="APPLICATIONROOTDIRECTORY"
                            Icon="Validite128.ico"
                           
                            Advertise="yes" >
                  <Icon Id="Validite128.ico" SourceFile="..\_OtherLive Files\Validite128.ico" />
                
                </Shortcut>

                <Shortcut Id="ApplicationShortcut"
                            Directory="ProgramMenuFolder"
                            Name="Validite Payroll"
                            Description="Validite Payroll"
                            WorkingDirectory="APPLICATIONROOTDIRECTORY"
                            Icon="Validite64.ico"
                            Advertise="yes" >
                  <Icon Id="Validite64.ico" SourceFile="..\_OtherLive Files\Validite64.ico" />

                </Shortcut>

              </File>

            </Component>

            <Component Id="PayrollAnalysis.dll" Guid="">
              <File Id="PayrollAnalysis.dll" Source="..\_PayrollLive Files\Client\GoingLive\PayrollAnalysis.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
          
            <Component Id="PayrollIS.exe" Guid="">
              <File Id="PayrollIS.exe" Source="..\_PayrollLive Files\Client\GoingLive\PayrollIS.exe" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="PayrollLogon.dll" Guid="">
              <File Id="PayrollLogon.dll" Source="..\_PayrollLive Files\Client\GoingLive\PayrollLogon.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="PayrollMain.dll" Guid="">
              <File Id="PayrollMain.dll" Source="..\_PayrollLive Files\Client\GoingLive\PayrollMain.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="PublicHoliday.dll" Guid="">
              <File Id="PublicHoliday.dll" Source="..\_PayrollLive Files\Client\GoingLive\PublicHoliday.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="ResetEmployeeTakeOn.dll" Guid="">
              <File Id="ResetEmployeeTakeOn.dll" Source="..\_PayrollLive Files\Client\GoingLive\ResetEmployeeTakeOn.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="RptEarningsDeductions.dll" Guid="">
              <File Id="RptEarningsDeductions.dll" Source="..\_PayrollLive Files\Client\GoingLive\RptEarningsDeductions.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="RptEti.dll" Guid="">
              <File Id="RptEti.dll" Source="..\_PayrollLive Files\Client\GoingLive\RptEti.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="RptLeave.dll" Guid="">
              <File Id="RptLeave.dll" Source="..\_PayrollLive Files\Client\GoingLive\RptLeave.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="RptLeaveTimeSheet.dll" Guid="">
              <File Id="RptLeaveTimeSheet.dll" Source="..\_PayrollLive Files\Client\GoingLive\RptLeaveTimeSheet.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="RptPaySlip.dll" Guid="">
              <File Id="RptPaySlip.dll" Source="..\_PayrollLive Files\Client\GoingLive\RptPaySlip.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="RptTimeSheet.dll" Guid="">
              <File Id="RptTimeSheet.dll" Source="..\_PayrollLive Files\Client\GoingLive\RptTimeSheet.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="RptTimeSheetTotals.dll" Guid="">
              <File Id="RptTimeSheetTotals.dll" Source="..\_PayrollLive Files\Client\GoingLive\RptTimeSheetTotals.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="SalaryWageIncrease.dll" Guid="">
              <File Id="SalaryWageIncrease.dll" Source="..\_PayrollLive Files\Client\GoingLive\SalaryWageIncrease.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="SetupLocalWebServer.dll" Guid="">
              <File Id="SetupLocalWebServer.dll" Source="..\_PayrollLive Files\Client\GoingLive\SetupLocalWebServer.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="Tax.dll" Guid="">
              <File Id="Tax.dll" Source="..\_PayrollLive Files\Client\GoingLive\Tax.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="TimeAttendanceAnalysis.dll" Guid="">
              <File Id="TimeAttendanceAnalysis.dll" Source="..\_PayrollLive Files\Client\GoingLive\TimeAttendanceAnalysis.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="TimeAttendanceRun.dll" Guid="">
              <File Id="TimeAttendanceRun.dll" Source="..\_PayrollLive Files\Client\GoingLive\TimeAttendanceRun.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="TimeSheet.dll" Guid="">
              <File Id="TimeSheet.dll" Source="..\_PayrollLive Files\Client\GoingLive\TimeSheet.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="TimeSheetAuthorise.dll" Guid="">
              <File Id="TimeSheetAuthorise.dll" Source="..\_PayrollLive Files\Client\GoingLive\TimeSheetAuthorise.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="TimeSheetBatch.dll" Guid="">
              <File Id="TimeSheetBatch.dll" Source="..\_PayrollLive Files\Client\GoingLive\TimeSheetBatch.dll" KeyPath="yes" Checksum="yes"/>
            </Component>


            <Component Id="URLConfig.txt" Guid="">
              <File Id="URLConfig.txt" Source="..\_PayrollLive Files\Client\GoingLive\URLConfig.txt" KeyPath="yes" Checksum="yes"/>
            </Component>
      
            <Component Id="User.dll" Guid="">
              <File Id="User.dll" Source="..\_PayrollLive Files\Client\GoingLive\User.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="UserEmployeeLink.dll" Guid="">
              <File Id="UserEmployeeLink.dll" Source="..\_PayrollLive Files\Client\GoingLive\UserEmployeeLink.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

            <Component Id="UserMenuAccess.dll" Guid="">
              <File Id="UserMenuAccess.dll" Source="..\_PayrollLive Files\Client\GoingLive\UserMenuAccess.dll" KeyPath="yes" Checksum="yes"/>
            </Component>

          </Directory>
        </Directory>
      </Directory>
    </Directory>
   
      <!-- Step 2: Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="BackupRestoreDatabase.dll" />
      <ComponentRef Id="BatchEarning.dll" />
      
      <ComponentRef Id="Calender.dll" />
      <ComponentRef Id="ChooseFingerprintReader.dll" />
      <ComponentRef Id="ClosePayrollRun.dll" />
      <ComponentRef Id="clsISClientUtilities.dll" />
      <ComponentRef Id="clsISUtilities.dll" /> 
      <ComponentRef Id="clsReadersToDp.dll" />
      <ComponentRef Id="clsTax.dll" />
      <ComponentRef Id="Company.dll" />
      <ComponentRef Id="CompanyPaymentOptions.dll" />
      <ComponentRef Id="ConvertEmployeeType.dll" />
      <ComponentRef Id="CostCentre.dll" />

      <ComponentRef Id="DataDownload.dll" />
      <ComponentRef Id="DataUpload.dll" />
      <ComponentRef Id="DateLoad.dll" />
      <ComponentRef Id="Deduction.dll" />
      <ComponentRef Id="DownloadFiles.dll" />
      <ComponentRef Id="DPCtlUruNet.dll" />
      <ComponentRef Id="DPUruNet.dll" />
     
      <ComponentRef Id="Earning.dll" />
      <ComponentRef Id="EasyFile.dll" />
      <ComponentRef Id="Employee.dll" />
      <ComponentRef Id="EmployeeActivate.dll" />
      <ComponentRef Id="EmployeeActivateSelection.dll" />
      <ComponentRef Id="EmployeeBalanceTakeOn.dll" />
      <ComponentRef Id="EmployeeLeaveTakeOn.dll" />
      <ComponentRef Id="EmployeeLeaveTakeOnActivate.dll" />
      <ComponentRef Id="EtiRun.dll" />

      <ComponentRef Id="FileDownload.dll" />
      <ComponentRef Id="FileUpload.dll" />

      <ComponentRef Id="IBScanUltimate.dll" />

      <ComponentRef Id="LeaveAuthorisation.dll" />
      <ComponentRef Id="LeaveProcess.dll" />
      <ComponentRef Id="LeaveType.dll" />

      <ComponentRef Id="Microsoft.ReportViewer.Common.dll" />
      <ComponentRef Id="Microsoft.ReportViewer.ProcessingObjectModel.DLL" />
      <ComponentRef Id="Microsoft.ReportViewer.WinForms.DLL" />
      <ComponentRef Id="Microsoft.SqlServer.Types.dll" />

      <ComponentRef Id="NormalSickLeave.dll" />
      
      <ComponentRef Id="OccupationDepartment.dll" />
      <ComponentRef Id="OccupationDepartmentLink.dll" />
      <ComponentRef Id="OpenPayrollRun.dll" />

      <ComponentRef Id="PasswordChange.dll" />
      <ComponentRef Id="PasswordReset.dll" />
      <ComponentRef Id="Payroll.exe" />
      <ComponentRef Id="PayrollAnalysis.dll" />
    
      <ComponentRef Id="PayrollIS.exe" />
      <ComponentRef Id="PayrollLogon.dll" />
      <ComponentRef Id="PayrollMain.dll" />
      <ComponentRef Id="PublicHoliday.dll" />

      <ComponentRef Id="ResetEmployeeTakeOn.dll" />
      <ComponentRef Id="RptEarningsDeductions.dll" />
      <ComponentRef Id="RptEti.dll" />
      <ComponentRef Id="RptLeave.dll" />
      <ComponentRef Id="RptLeaveTimeSheet.dll" />
      <ComponentRef Id="RptPaySlip.dll" />
      <ComponentRef Id="RptTimeSheet.dll" />
      <ComponentRef Id="RptTimeSheetTotals.dll" />

      <ComponentRef Id="SalaryWageIncrease.dll" />
      <ComponentRef Id="SetupLocalWebServer.dll" />

      <ComponentRef Id="Tax.dll" />
      <ComponentRef Id="TimeAttendanceAnalysis.dll" />
      <ComponentRef Id="TimeAttendanceRun.dll" />
      <ComponentRef Id="TimeSheet.dll" />
      <ComponentRef Id="TimeSheetAuthorise.dll" />
      <ComponentRef Id="TimeSheetBatch.dll" />

      <ComponentRef Id="URLConfig.txt" />
      
      <ComponentRef Id="User.dll" />
      <ComponentRef Id="UserEmployeeLink.dll" />
      <ComponentRef Id="UserMenuAccess.dll" />
    
    </Feature>

      <!-- Grant Read / Write Permission to Created Directory -->
    <Feature Id="FolderPermissions" Title="InstallerDirectoryPermissions" Level="1">
        <ComponentRef Id="InstalledDirectory" />
    </Feature>

  </Product>
</Wix>