<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJZ3MCIHUWVSHBUAA"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSProfileName" value="arn:aws:iam::143487845482:user/errol"/>
    <add key="AWSRegion" value="us-east-1" />
    <add key="LogFileDirectory" value="C:\Interact Projects\C#\DailyDBBackup\Logs\" />
  </appSettings>
</configuration>