@{
    ViewData["Title"] = "Biometrics Time Attendance Biometrics Fingerprint Wages Salaries Payroll Validite";
    ViewData["PageTitle"] = "Biometrics";
}

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default ">
            <div class="panel-heading">Biometrics</div>
            <div class="panel-body">


                <div class="col-md-8">

                    <h3><strong>Biometrics</strong></h3>

                    <p>The Validite Time Attendance system uses Fingerprint Biometrics in 2 ways</p>

                    <ul>

                        <li><strong>USB Fingerprint Reader linked to PC</strong></li>
                        <li><strong>Time Attendance Clock (Wall Mounted)</strong></li>

                    </ul>

                    <p>In both cases the programs communicate with Validite's Fingerprint Clock Web Service. This Web service is responsible for Inserting Clockings into the Local SQL Server Database.</p>

                    <p>Validite's Client program also speaks to this Web Service and allows users to view as well as edit Clockings real-time.</p>

                    <div class="row">

                        <div class="col-md-9">

                            <h4><strong>USB Fingerprint Reader linked to PC</strong></h4>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-9">

                            <p>These readers are normally used by Companies that have less than 20 Employees.</p>

                            <p>The 2 Fingerprint Readers that Validite uses is the <strong>URU4500</strong> from Digital Persona and the <strong>Curve</strong> from Integrated Biometrics.</p>


                            <h5><strong>URU4500 Reader</strong></h5>

                            <ul>

                                <li>Optical Reader</li>
                                <li>Rotation invariant</li>
                                <li>512 dpi</li>

                            </ul>

                            <h5><strong>Curve Reader</strong></h5>

                            <ul>

                                <li>LES - Capacitance</li>
                                <li>Works in Bright Sunlight</li>
                                <li>500 dpi</li>

                            </ul>

                            <p>These 2 Fingerprint Readers are applied to conditions that best suite their unique strengths.</p>

                        </div>

                        <div class="col-md-3">

                            <a href="~/Home/Image?imagename=BiometricReaders.png">

                                <img src="~/Image/BiometricReaders.png" class="img-thumbnail" alt="Cinque Terre">

                            </a>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-9">

                            <h4><strong>Time Attendance Clock (Wall Mounted)</strong></h4>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-9">

                            <p>The A11 Time Attendance Clock has Validite's own software loaded onto it. This software allows communication with Validite's Fingerprint Clock Web Service.</p>

                            <p>The Verification / Identification of an employee's fingerprint is extremely fast as it is processed on a PC as oppossed to the A11 Time Attendance Clock which has a 200Mhz processor.</p>

                            <p>One major difference between our Clocks and our competitors is that we have a <strong>Break Key</strong>. This allows Employees to take breaks and reconcile later with shift times for the day.</p>

                            <p>If for any reason the network is down, The A11 Clock will go offline and start to beep every minute.</p>


                        </div>

                        <div class="col-md-3">

                            <a href="~/Home/Image?imagename=A11.png">

                                <img src="~/Image/A11.png" class="img-thumbnail" alt="Cinque Terre">

                            </a>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="panel panel-default ">
                        <div class="panel-heading">Our Biometric Project</div>
                        <div class="panel-body">

                            <p>For almost 3 years now, Validite has been in the process of building its own Biometric Time Attendance Clock.</p>

                            <a href="~/Home/Image?returnurl=home/biometrics&imagename=BiometricProject.png">
                                
                                <img src="~/Image/BiometricProject.png" class="img-thumbnail" alt="Cinque Terre">

                            </a>

                            <h5><strong>Notable Achivements</strong></h5>

                            <ul>

                                <li>Have a Working Version</li>
                                <li>Wrote device driver for LCD</li>
                                <li>Wrote device driver for Touch Screen</li>
                                <li>C++ Software runs on Debian Linux</li>

                            </ul>

                            <h5><strong>Next Step</strong></h5>

                            <p>Our next step is to get the Time Attendance unit boxed. We have already sourced pre-fabricated boxes and boxing should be complete in the next couple of weeks.</p>

                            <h5><strong>Final Step</strong></h5>

                            <p>This is the <strong>dream</strong> that will complete the long hard hours of this project. We will need to find financing to get a mould made for our plastic box.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
