@{
    ViewData["Title"] = "Salaries Time Attendance Biometrics Fingerprint Wages Payroll Validite";
    ViewData["PageTitle"] = "Salaries";
}

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default ">
            <div class="panel-heading">Salaries</div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">

                        <h3><strong>Salaries</strong></h3>

                        <p>
                            The Validite Payroll program is a <strong>Web-Based</strong> application that caters for Salaries. This program is a <strong>Smart-Client</strong> and has been written for speed as well as the User's experience in mind.
                            After the initial installation of the program (exe), the program updates itself upon the Login of any User.

                        </p>

                        <br />

                        <h4><strong>Smart-Client</strong></h4>

                        <p>

                            Smart-Client applications bridge the gap between web applications and the older more reliable desktop applications.
                            They provide the benefits of a web application (such as using the Internet for remote access to data) while still providing the snappy look and feel inherent to desktop applications.

                        </p>

                        <p>

                            The Smart-Client approach came about because when businesses tried to develop web applications to replace their old desktop applications, user productivity decreased.
                            Browser technology is inheritantly slower than a Smart-Client due to the fact that Icons / Images / Controls etc must all be passed down the line from the Web Server servicing the application.

                        </p>
                    </div>


                    <div class="col-md-3">

                        <br />

                        <div class="alert alert-info">
                            <h5><strong>Employee Monthly Cost</strong></h5>

                            <ul>

                                <li><strong>Salaries - R15.00</strong></li>

                            </ul>
                        </div>

                        <h5><strong>Key Features</strong></h5>

                        <ul>

                            <li>Internet-Based</li>
                            <li>Multi-Company</li>
                            <li>Multi-Cost Centre (Branch)</li>
                            <li>Unlimited Users</li>
                            <li>1 Company - 1 Database</li>
                            <li>Off-Site Backups (Daily)</li>
                            <li>Smart-Client (Responsive)</li>
                            <li>Built for Wage Bureaus</li>
                            <li>Easyfile CSV file generation</li>
                            <li>No Hidden Costs</li>

                        </ul>

                    </div>

                    <div class="col-md-3">

                        <br />

                        <a href="~/Home/Image?imagename=Salaries.png">

                            <img src="~/Image/Salaries.png" class="img-thumbnail" alt="Cinque Terre">

                        </a>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
