@{
    ViewData["Title"] = "Software Time Attendance Biometrics Fingerprint Wages Salaries Payroll Validite";
    ViewData["PageTitle"] = "Software";
}

<h3>Software</h3>

<p>
    Biometric hardware consulting expertise based on over 30 years of experience
    Smart app development consulting and experience developed over a number of years based on development on Android, beagle bone, xxx technologies
    Hardware, software interface knowledge and expertise based on research and development undertaken over the last 30 years
    Data warehouse consulting experience based on exposure at major clients

</p>
