@{
    ViewData["Title"] = "Wages Time Attendance Biometrics Fingerprint Salaries Payroll Validite";
    ViewData["PageTitle"] = "Wages";
}

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-default ">
            <div class="panel-heading">Wages</div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">

                        <h3><strong>Wages</strong></h3>

                        <p>The Validite Payroll program is a <strong>Web-Based</strong> application that caters for Wages. This program is a <strong>@Html.ActionLink("Smart-Client", "Salaries", "Home")</strong> and has been written for speed of use as well as the User's experience in mind.</p>

                        <h4><strong>Centralised Control</strong></h4>

                        <p>All data for the Wage system is captured only once (centrally) on Validite's Payroll Internet Web Server.</p>

                        <h4><strong>Wage Procedure</strong></h4>

                        <p>Employees details, Cost Centres (Branches) and other related data is stored on a Microsoft SQL Server Database.</p>
                        <p>Employee data is then downloaded to a SQL Server Database within a Client's LAN environment.</p>
                        <p>Networked Biometric Clocks have access to this information by means of a local Web Service.</p>
                        <p>Employee clockings are stored on the Client's SQL Server Database (Not on the Clock itself).</p>
                        <p>Validite's Client program has realtime access to these clockings where they may be edited.</p>
                        <p>Clockings are finally uploaded to Validite's Payroll Internet Web Server where they are used in the calculation of an Employee's Wages.</p>

                        <h4><strong>Database Backups</strong></h4>

                        <p>Each Company has its own Database which is backed up offsite every night.</p>
                        <p>Client's SQL Server Database are also backed up everyday.</p>

                    </div>

                    <div class="col-md-3">


                        <br />

                        <div class="alert alert-info">
                            <h5><strong>Employee Monthly Cost</strong></h5>

                            <ul>

                                <li><strong>Wages - R18.00</strong></li>

                            </ul>
                        </div>

                        <h5><strong>Key Features</strong></h5>

                        <ul>

                            <li>Multi-Company</li>
                            <li>Multi-Cost Centre (Branch)</li>
                            <li>Time Sheet Roll-Up into Wages</li>
                            <li>Leave Automation</li>
                            <li>Caters for Public Holidays</li>
                            <li>No Third party software invloved</li>
                            <li>No export / Import of files</li>
                            <li>Daily Backup of Databases</li>
                            <li>Includes Time Atendance Modules</li>

                        </ul>

                    </div>

                    <div class="col-md-3">

                        <br />

                        <a href="~/Home/Image?imagename=Wages.png">

                            <img src="~/Image/Wages.png" class="img-thumbnail" alt="Cinque Terre">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
